{% extends "base.html" %}

{% block content %}

{% endblock %}

{% block scripts %}
    {% if accounts %}
<script>
    window.opener.build_ga_selector({{ accounts|tojson|safe }});
    window.close();
</script>

    {% elif error %}
<script>
    window.opener.flash_error('No authorization granted. Please try again!');
    window.close();
</script>
    {% endif %}
{% endblock %}