<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Analytics API Demo Console</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:600,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
</head>
<body>
<!-- Start content -->
{% block content %}{% endblock %}
<!-- End content -->

<!-- Import scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='js/jquery-1.9.1.min.js') }}">\x3C/script>')</script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<!-- End import scripts -->

<!-- App scripts -->
{% block scripts %}
{% endblock %}
<!-- End app scripts -->
</body>
</html>