{% extends "base.html" %}

{% block content %}
<div class="align-center flashed-messages col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div></div>
</div>
<section class="header">
	<div class="headers">
		<p>
			<a class="site-logo" href="http://www.trafficzoom.com" target="_blank" rel="nofollow">
				<img width="200" height="200" src="{{ url_for('static', filename='img/logo.jpg') }}"/> </a>
		</p>

		<h1 class="align-center mb10">Google Analytics API</h1>

		<h3 class="align-center mb20">Dashboard Demo</h3>
	</div>

	<h2 class="align-center authorize-button-container">
		<a href="#" data-auth-url="{{ auth_url }}" class="ui-button authorize-button btn">Authorize Google</a></h2>

	<div class="container">
		<div class="row">
			<div class="google-data col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-4 col-md-4 col-sm-4 ga_accounts">
					<label for="ga_accounts">Accounts</label>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 ga_properties">
					<label for="ga_properties">Properties</label>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 ga_profiles">
					<label for="ga_profiles">Profiles</label>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12 align-center datepicker hidden">
				<h3 class="align-center mb20">Select your desired time frame</h3>
				<form class="form-inline">
					<div class="form-group">
						<label class="sr-only" for="from">From</label>
						<input type="text" id="from" name="from" class="form-control" placeholder="Select start date">
					</div>

					<div class="form-group">
						<label class="sr-only" for="to">To</label>
						<input type="text" id="to" name="to" class="form-control" placeholder="Select end date">
					</div>

				</form>
			</div>
			<div class="align-center api-actions col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="#" data-auth-url="{{ auth_url }}" class="ui-button-reversed ui-button api-button btn hidden">Fetch data for
					profile</a>
			</div>

		</div>
	</div>
</section>
<section class="results">
	<div class="container">
		<div class="row">
			<div class="hidden container google-results col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<table id="ga_results" class="table table-striped table-condensed">
					<thead>
					<tr>
						<th rowspan="2">#</th>
						<th rowspan="2" colspan="1">Keywords</th>
						<th colspan="4" rowspan="1">Acquisition</th>
						<th colspan="2" rowspan="1">Behavior</th>
						<th class="_GAju" colspan="3" rowspan="1">Conversions</th>
					</tr>
					<tr>
						<th rowspan="1" colspan="1">Clicks</th>
						<th rowspan="1" colspan="1">Cost</th>
						<th rowspan="1" colspan="1">CPC</th>
						<th rowspan="1" colspan="1">Sessions</th>
						<th rowspan="1" colspan="1">Bounce Rate</th>
						<th rowspan="1" colspan="1">Pages/Session</th>
						<th rowspan="1" colspan="1">Ecommerce Conversion Rate</th>
						<th rowspan="1" colspan="1">Transactions</th>
						<th rowspan="1" colspan="1">Revenue</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script>
var google_auth_window;

// Open a popup and load the Google auth window
function open_window( url, width, height ) {
	'use strict';

	var left = ( screen.width / 2 ) - ( width / 2 ),
		top = ( screen.height / 8 );

	google_auth_window = window.open( url, 'google_auth_window', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + width + ', height=' + height + ', top=' + top + ', left=' + left );

}

// Send authorization error messages from the pop-up to the opener
function flash_error( message ){
	$( '.flashed-messages > div' ).text( message );
	$( '.flashed-messages' ).hide().addClass( 'bg-warning' ).fadeIn( 'fast' ).delay( 4000 ).fadeOut( 'fast' );
}

// Builds the Google Analytics selectors for the account, property and view
function build_ga_selector( data ) {

	// If session storage is available, store the access toke in the session
	if ( data.access_token && sessionStorage ) {
		sessionStorage.removeItem( 'access_token' );
		sessionStorage.setItem( 'access_token', data.access_token );
	}

	var $accounts_selector = $( '<select>', {
			class: 'form-control',
			id: 'ga_accounts'
		} ),
		$properties_selector = $( '<select>', {
			class: 'form-control',
			id: 'ga_properties'
		} ),
		$profiles_selector = $( '<select>', {
			class: 'form-control',
			id: 'ga_profiles'
		} ),
		accounts = [],
		properties = [],
		profiles = [],
		$api_trigger = $( 'a.api-button' ),
		$datepicker = $('.datepicker'),
		$results = $( '.google-results' );

	// Iterate through each data object
	$.each( data.accounts, function ( key, value ) {

		accounts.push( '<option value="' + value + '">' + key + '</option>' );

	} );

	$.each( data.properties, function ( key, value ) {

		properties.push( '<option value="' + value['id'] + '">' + value['name'] + '</option>' );

	} );

	$.each( data.profiles, function ( key, value ) {

		profiles.push( '<option value="ga:' + value['id'] + '">' + value['name'] + '</option>' );

	} );

	// Join the arrays and append them to their containers
	$accounts_selector.html( accounts.join( '' ) ).appendTo( '.ga_accounts' );
	$properties_selector.html( properties.join( '' ) ).appendTo( '.ga_properties' );
	$profiles_selector.html( profiles.join( '' ) ).appendTo( '.ga_profiles' );

	// Show the selectors
	$( '.ga_accounts, .ga_properties, .ga_profiles' ).addClass( 'visible' );
	$( '.api-button' ).removeClass( 'hidden' ).addClass( 'visible' );
	$datepicker.removeClass( 'hidden' ).addClass( 'visible' );
	$( '.authorize-button-container' ).addClass( 'hidden' );

	// Get account properties and profiles and populate the selects
	$( '#ga_accounts' ).on( 'change', function ( e ) {

		// Disable fetcher button during AJAX transaction, only show it after accounts have been received and the data is ready
		$api_trigger.removeClass('visible').addClass('hidden');

		var account_id = $( "#ga_accounts option:selected" ).val();

		// Get the first account ID properties and populate the select
		$.when( get_properties( account_id ) ).then(function( response ){

			var properties_html = [];

			// Check if the account has any registered property
			if ( response.items.length > 0 && 'id' in response.items[0] ) {
				var first_property_id = response.items[0].id;
				// Iterate through each data object
				$.each( response.items, function ( key, value ) {

					properties_html.push( '<option value="' + value['id'] + '">' + value['name'] + '</option>' );

				} );

				// Empty the selects and append the fresh data
				$( '#ga_properties' ).empty().html( properties_html.join( '' ) );

				$.when( get_profiles(account_id, first_property_id)).then(function(results){

					var profiles_html = [];
					$.each( results.items, function ( key, value ) {

						profiles_html.push( '<option value="ga:' + value['id'] + '">' + value['name'] + '</option>' );

					} );

					$( '#ga_profiles' ).empty().html( profiles_html.join( '' ) );

					// Data is ready, show the fetch button
					$api_trigger.removeClass('hidden').addClass('visible');
				});
			}
			else {
				$( '.flashed-messages > div' ).text( 'No data available for this account. Try selecting another one!' );
				$( '.flashed-messages' ).hide().addClass( 'bg-warning' ).fadeIn( 'fast' ).delay( 4000 ).fadeOut( 'fast' );
			}
		});
	} );

	// Get profiles for property and repopulate the profiles select
	$( '#ga_properties' ).on( 'change', function ( e ) {

		// Disable fetcher button during AJAX transaction, only show it after accounts have been received and the data is ready
		$api_trigger.removeClass('visible').addClass('hidden');

		var account_id = $( "#ga_accounts option:selected" ).val(),
			first_property_id = $( "#ga_properties option:selected" ).val();

		$.when( get_profiles(account_id, first_property_id)).then(function(results){

			var profiles_html = [];
			$.each( results.items, function ( key, value ) {

				profiles_html.push( '<option value="ga:' + value['id'] + '">' + value['name'] + '</option>' );

			} );

			$( '#ga_profiles' ).empty().html( profiles_html.join( '' ) );

			// Data is ready, show the fetch button
			$api_trigger.removeClass('hidden').addClass('visible');
		});
	});

	// Finally, fetch the data from Google Analytics API
	$api_trigger.on( 'click', function ( e ) {

		e.preventDefault();

		var date = new Date();
		date.setDate(date.getDate() - 1);

		var $from = $('#from'),
			$to = $('#to'),
			from = $from.val(),
			to = $to.val(),
			start_date = ( from ) ? from : 'yesterday',
			end_date = ( to ) ? to : 'yesterday',
			query_params = {
				url: 'https://content.googleapis.com/analytics/v3/data/ga',
				method: 'GET',
				data_type: 'json',
				params: {
					access_token: sessionStorage.getItem('access_token'),
					ids: $( "#ga_profiles option:selected" ).val(),
					'start-date': start_date,
					'end-date': end_date,
					dimensions: 'ga:keyword',
					metrics: 'ga:adClicks, ga:adCost,ga:CPC,ga:sessions,ga:bounceRate,ga:pageviewsPerSession,ga:transactionsPerSession,' +
					'ga:transactions,ga:transactionRevenue',
					sort:'-ga:adClicks',
					filters: 'ga:medium==cpc;ga:source==google'
				}
			};

		$.when( query_api(query_params)).then(function( response ){

			var table = $( '#ga_results tbody' ),
			    total_sessions = 0;

			if ( response.rows ) {

				// Empty the table before fetching new data
				table.empty();

				// Iterate through each row
				$.each( response.rows, function ( key, value ) {

					// Row numbering
					var row_num = key + 1,

						rows = '',
						keys = $(value).length,
						i = 0;

					rows += '<tr><td>' + row_num;

					while ( i < keys ) {
                        var $val = null;

                        switch ( response.columnHeaders[i].dataType ) {

                            case 'INTEGER':
                                $val = parseInt(value[i]);
                                break;

                            case 'FLOAT':
                                $val = parseFloat(value[i]).toFixed(2);
                                break;

                            case 'PERCENT':
                                $val = parseFloat(value[i]).toFixed(2) + '%';
                                break;

                            case 'CURRENCY':
                                $val = '$' + parseFloat(value[i]).toFixed(2);
                                break;

                            default:
                                $val = value[i];
                        }

						rows += '</td><td><span>' + $val + '</span>';

						if ( 9 == i ) {
                            total_sessions += parseFloat(value[i]);
						}

						++i;
					}

					rows += '</tr>';

					table.append( rows );
				} );

                var total_source = response.totalsForAllResults,
                    first_row = '<tr class="table-header"><td>&nbsp;</td><td>&nbsp;</td>';
                    first_row += '<td>' + total_source['ga:adClicks'] + '</td>';
                    first_row += '<td><span>$</span>' + total_source['ga:adCost'] + '</td>';
                    first_row += '<td><span>$</span>' + parseFloat(total_source['ga:CPC']).toFixed(2) + '</td>';
                    first_row += '<td>' + total_source['ga:sessions'] + '</td>';
                    first_row += '<td>' + parseFloat(total_source['ga:bounceRate']).toFixed(2) + '<span>%</span></td>';
                    first_row += '<td>' + parseFloat(total_source['ga:pageviewsPerSession']).toFixed(2) + '</td>';
                    first_row += '<td>' + parseFloat(total_source['ga:transactionsPerSession']).toFixed(2) + '<span>%</span></td>';
                    first_row += '<td>' + total_source['ga:transactions'] + '</td>';
                    first_row += '<td><span>$</span>' + total_source['ga:transactionRevenue'] + '</td>';
                    first_row += '</tr>';

                table.prepend(first_row);
				$results.removeClass( 'hidden' ).addClass( 'visible' );

				// Scroll the window so the user can see the data
				$( 'html, body' ).animate( {
					scrollTop: $results.offset().top - 100
				}, 600 );
			}
			// Display an error message to the user
			else {
				$( '.flashed-messages > div' ).text( 'No data available for this account. Try selecting another one!' );
				$( '.flashed-messages' ).hide().addClass( 'bg-warning' ).fadeIn( 'fast' ).delay( 4000 ).fadeOut( 'fast' );
			}
		});

	} );
}

function get_properties(account_id){
	var params = {
		method: 'GET',
		url: 'https://www.googleapis.com/analytics/v3/management/accounts/' + account_id +'/webproperties',
		data_type: 'json',
		params: {access_token: sessionStorage.getItem('access_token')}
	};

	return query_api(params);
}
function get_profiles(account_id, first_property_id) {
	var params = {
		method: 'GET',
		url: 'https://www.googleapis.com/analytics/v3/management/accounts/' + account_id +'/webproperties/' + first_property_id + '/profiles',
		data_type: 'json',
		params: {access_token: sessionStorage.getItem('access_token')}
	};

	return query_api(params);
}

function query_api( data ){
	var dfd = $.Deferred();

	$.ajax({
		method: data.method,
		url: data.url,
		dataType: data.data_type,
		data: data.params
	})
		.done(function(results){

			// Resolve the results
			dfd.resolve(results);
		});

	// Return the response to the caller
	return dfd.promise();
}


function flash_messages( message ){
    $( '.flashed-messages > div' ).text( message );
	$( '.flashed-messages' ).hide().addClass( 'bg-warning' ).fadeIn( 'fast' ).delay( 4000 ).fadeOut( 'fast' );
}

function to_percent(part, total){
    return parseFloat((part * 100)/total).toFixed(2);
}

$( function () {

	var auth_trigger = $( 'a.authorize-button' ),
		auth_url = auth_trigger.data( 'auth-url' );

	// Open Google authorization window
	auth_trigger.on( 'click', function ( e ) {

		open_window( auth_url, 500, 500 );
		e.preventDefault();

	} );

	var date = new Date();

	$( "#from" ).datepicker({
		defaultDate: date,
		changeMonth: true,
		maxDate: date,
		dateFormat: "yy-mm-dd",
		numberOfMonths: 1,
		onClose: function( selectedDate ) {
			$( "#to" ).datepicker( "option", "minDate", selectedDate );
		}
	});
	$( "#to" ).datepicker({
		defaultDate: "today",
		changeMonth: true,
		dateFormat: "yy-mm-dd",
		maxDate: date,
		numberOfMonths: 1,
		onClose: function( selectedDate ) {
			$( "#from" ).datepicker( "option", "maxDate", selectedDate );
		}
	});
} );
</script>
{% endblock %}