/* General styling */
body {
    font-family: "Open Sans", sans-serif;
}

/* Headings styling */
.header {
    background: #3B4451;
    padding: 40px;
}

.header h1 {
    color: rgba(255, 255, 255, 0.8);
}

h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 300;
}

section.header h5 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 8px;
}

/* Body styling */
.headers {
    margin-bottom: 40px;
    padding: 40px 0 0;
}

.align-center {
    text-align: center;
    margin: 0;
    padding: 0;
}

.site-logo {
    position: relative;
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto 60px;
}

.site-logo img {
    border-radius: 10px;
    text-align: center;
    border: 5px solid #fff;
}

.ui-button,
.ui-button:visited,
.ui-button:active {
    transition: opacity 2s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: 100;
    font-size: 16px;
    padding: 10px 60px;
}

.ui-button:hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
}

.ui-button-reversed,
.ui-button-reversed:visited,
.ui-button-reversed:active {
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 2s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: 100;
    font-size: 16px;
    padding: 10px 60px;
    border-color: transparent;
}

.ui-button-reversed:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.ui-button-container {
    transition: opacity 2s ease-in-out;
    margin-bottom: 40px;
}

.google-data {
    margin-bottom: 40px;
}

/* Form containers */
#ga_results > tbody > tr > td:nth-child(2) {
    word-break: break-word;
}

table th, table tr {
  font-size: 12px;
}

table tr {
  font-size: 12px;
  color: #666;
  font-weight: 100;
}

tr.table-header td {
    font-size: 18px;
    font-weight: 600;
    height: 64px;
    color: #626945;
}
tr.table-header td span {
  font-size: 14px;
  font-weight: 100;
}
.ga_accounts,
.ga_properties,
.ga_profiles,
.google-results {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.ga_accounts select,
.ga_properties select,
.ga_profiles select {
    background: #3B4451;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.2);
    font-weight: 100;
    font-size: 12px;
}

.google-data label {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

.google-results {
    padding: 20px 40px;
    border: 1px solid #ddd;
    margin-top: 40px;
    border-radius: 10px;
}

.flashed-messages {
    display: none;
    margin: 20px auto 0;
    padding: 10px 0;
    position: fixed;
    z-index: 9999;
    bottom: 40px;
    left: 40px;
    width: 300px;
    border-radius: 5px;
    background: #1D2228;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.visible {
    opacity: 1 !important;
}

.hidden {
    opacity: 0;
}

.form-group {
    margin: 0 10px;
}

.datepicker {
    padding-bottom: 40px;
}

.datepicker input {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 13px;
    border-color: rgba(255, 255, 255, 0.2);
}

/* Utilities */
.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}